
#App
PORT= 3002
#Connection Db
DB_HOST=192.168.30.45
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=root123
DB_DATABASE=uma_db_dev
DB_SSL=false

RSA_PRIVATE_KEY_CONTENT="-----BEGIN PRIVATE KEY-----\nMIICXQIBAAKBgQDLCBFpQtDzVaCRmWBolwYMvKHsNh6xEMnyL8sLqTc1MX1gSx/7PTOy7Umq6pnn2N37JYRg6J2i7r65TUaHZ7QikB+smhaCtwKK7dgL31elWXK5yD1TwpHOqSpiacQbGy79CwMfP2QIDAQABAoGAFHV/q6e7/olGYOXaIC+xj0tD8CW5tRr+SfesokAb1r/ZfWJzJd/C4sMZQQtHOxnM1iJwQnn4AjxMz8Fb0qismHEltP7/85RrHkd0ObWXxbtZg63UrVAMPfvdrCbM1lCvf3ticPXp3qo3MHin1d0zTj9DlwJCBDQntXZikDBTkAECQQDp2E2QSUhp3U4zSbqCzojCrzlZmyFKnCn/s01GYMe4N++mHxs1Dt1hFWiWtJLvKKMrO0Sp/AsRiYkbGV2xd2dZAkEA3kRp2r+BQ1RzMnjtnZJJOpQF2bR9DBQvEfC0s9tsFAuL6ILWWuS68AbWrP/56RUQvxR9lvVQBn1VVSm/u+ccgQJAbmxQvBiO1EbHnZpsM0aZ9+zMVQ7XGqdBgdhGXjxnMwte4//+VgCt8yEr4TZlx/9VhZ2YH/i/tUlP7/b7ckjjCQJBAKX3H7OfW74SyRHfCk6mdNewv82X3+etCpiyy7uhFErDdGzhhX3JXWztLk9vtAQ/HooPmtelxWOTIqy8x9Ze9AECQQCQSlsCyczzoY18cyfCzteR4fUzvHAo/cmgZc/5XUGC9US5flMuq+lXE5e7V6d5Ed8Y22G8wWNZqx1WR9ri+vtY\n-----END PRIVATE KEY-----"

RSA_PUBLIC_KEY_CONTENT="-----BEGIN PUBLIC KEY-----\nMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDLCBFpQtDzVaCRmWBolwYMvKHsNh6xEMnyL8sLqTc1MX1gSx/7PTOy7Umq6pnn2N37JYRg6J2i7r65TUaHZ7QikB+smhaCtwKK7dgL31elWXK5yD1TwpHOqSpiacQbGy79CwMfP2QIDAQAB\n-----END PUBLIC KEY-----"

# === AppyPay Configuration ===
APPYPAY_AUTH_URL=https://login.microsoftonline.com/appypay.co.ao/oauth2/token
APPYPAY_API_BASE=https://gwy-api.appypay.co.ao/v2.0
APPYPAY_CLIENT_ID=659f215a-4013-41a9-9d2f-3422a00f2716
APPYPAY_CLIENT_SECRET=9nQ8Q~AlImbwBnm7g5WOpHY-nT_zAnSUBQ_Cudtr
APPYPAY_RESOURCE=bee57785-7a19-4f1c-9c8d-aa03f2f0e333
APPYPAY_SCOPE=bee57785-7a19-4f1c-9c8d-aa03f2f0e333/.default


REDIS_HOST= localhost
REDIS_PORT= 6379



#App
PORT= 3002
#Connection Db
DB_HOST=cmppd.cmjmmiums15e.us-east-1.rds.amazonaws.com 
DB_PORT=1521
DB_USERNAME=CMPDEV
DB_PASSWORD=4H4tBnIQXsd3iSBM9TEA
DB_SID=ORCL
DB_SSL=true   # ou false

RSA_PRIVATE_KEY_CONTENT="-----BEGIN PRIVATE KEY-----\nMIICXQIBAAKBgQDLCBFpQtDzVaCRmWBolwYMvKHsNh6xEMnyL8sLqTc1MX1gSx/7PTOy7Umq6pnn2N37JYRg6J2i7r65TUaHZ7QikB+smhaCtwKK7dgL31elWXK5yD1TwpHOqSpiacQbGy79CwMfP2QIDAQABAoGAFHV/q6e7/olGYOXaIC+xj0tD8CW5tRr+SfesokAb1r/ZfWJzJd/C4sMZQQtHOxnM1iJwQnn4AjxMz8Fb0qismHEltP7/85RrHkd0ObWXxbtZg63UrVAMPfvdrCbM1lCvf3ticPXp3qo3MHin1d0zTj9DlwJCBDQntXZikDBTkAECQQDp2E2QSUhp3U4zSbqCzojCrzlZmyFKnCn/s01GYMe4N++mHxs1Dt1hFWiWtJLvKKMrO0Sp/AsRiYkbGV2xd2dZAkEA3kRp2r+BQ1RzMnjtnZJJOpQF2bR9DBQvEfC0s9tsFAuL6ILWWuS68AbWrP/56RUQvxR9lvVQBn1VVSm/u+ccgQJAbmxQvBiO1EbHnZpsM0aZ9+zMVQ7XGqdBgdhGXjxnMwte4//+VgCt8yEr4TZlx/9VhZ2YH/i/tUlP7/b7ckjjCQJBAKX3H7OfW74SyRHfCk6mdNewv82X3+etCpiyy7uhFErDdGzhhX3JXWztLk9vtAQ/HooPmtelxWOTIqy8x9Ze9AECQQCQSlsCyczzoY18cyfCzteR4fUzvHAo/cmgZc/5XUGC9US5flMuq+lXE5e7V6d5Ed8Y22G8wWNZqx1WR9ri+vtY\n-----END PRIVATE KEY-----"

RSA_PUBLIC_KEY_CONTENT="-----BEGIN PUBLIC KEY-----\nMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDLCBFpQtDzVaCRmWBolwYMvKHsNh6xEMnyL8sLqTc1MX1gSx/7PTOy7Umq6pnn2N37JYRg6J2i7r65TUaHZ7QikB+smhaCtwKK7dgL31elWXK5yD1TwpHOqSpiacQbGy79CwMfP2QIDAQAB\n-----END PUBLIC KEY-----"

# === AppyPay Configuration ===
APPYPAY_AUTH_URL=https://login.microsoftonline.com/appypay.co.ao/oauth2/token
APPYPAY_API_BASE=https://gwy-api.appypay.co.ao/v2.0
APPYPAY_CLIENT_ID=659f215a-4013-41a9-9d2f-3422a00f2716
APPYPAY_CLIENT_SECRET=9nQ8Q~AlImbwBnm7g5WOpHY-nT_zAnSUBQ_Cudtr
APPYPAY_RESOURCE=bee57785-7a19-4f1c-9c8d-aa03f2f0e333
APPYPAY_SCOPE=bee57785-7a19-4f1c-9c8d-aa03f2f0e333/.default



# === Redis Configuration ===
REDIS_HOST= localhost
REDIS_PORT= 6379

