PORT= 3002
#Connection Db
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_SID=
DB_SSL=   # ou false


RSA_PRIVATE_KEY_CONTENT="-----BEGIN PRIVATE KEY-----\nMIICXQIBAAKBgQDLCBFpQtDzVaCRmWBolwYMvKHsNh6xEMnyL8sLqTc1MX1gSx/7PTOy7Umq6pnn2N37JYRg6J2i7r65TUaHZ7QikB+smhaCtwKK7dgL31elWXK5yD1TwpHOqSpiacQbGy79CwMfP2QIDAQABAoGAFHV/q6e7/olGYOXaIC+xj0tD8CW5tRr+SfesokAb1r/ZfWJzJd/C4sMZQQtHOxnM1iJwQnn4AjxMz8Fb0qismHEltP7/85RrHkd0ObWXxbtZg63UrVAMPfvdrCbM1lCvf3ticPXp3qo3MHin1d0zTj9DlwJCBDQntXZikDBTkAECQQDp2E2QSUhp3U4zSbqCzojCrzlZmyFKnCn/s01GYMe4N++mHxs1Dt1hFWiWtJLvKKMrO0Sp/AsRiYkbGV2xd2dZAkEA3kRp2r+BQ1RzMnjtnZJJOpQF2bR9DBQvEfC0s9tsFAuL6ILWWuS68AbWrP/56RUQvxR9lvVQBn1VVSm/u+ccgQJAbmxQvBiO1EbHnZpsM0aZ9+zMVQ7XGqdBgdhGXjxnMwte4//+VgCt8yEr4TZlx/9VhZ2YH/i/tUlP7/b7ckjjCQJBAKX3H7OfW74SyRHfCk6mdNewv82X3+etCpiyy7uhFErDdGzhhX3JXWztLk9vtAQ/HooPmtelxWOTIqy8x9Ze9AECQQCQSlsCyczzoY18cyfCzteR4fUzvHAo/cmgZc/5XUGC9US5flMuq+lXE5e7V6d5Ed8Y22G8wWNZqx1WR9ri+vtY\n-----END PRIVATE KEY-----"

RSA_PUBLIC_KEY_CONTENT="-----BEGIN PUBLIC KEY-----\nMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDLCBFpQtDzVaCRmWBolwYMvKHsNh6xEMnyL8sLqTc1MX1gSx/7PTOy7Umq6pnn2N37JYRg6J2i7r65TUaHZ7QikB+smhaCtwKK7dgL31elWXK5yD1TwpHOqSpiacQbGy79CwMfP2QIDAQAB\n-----END PUBLIC KEY-----"

# === AppyPay Configuration ===
APPYPAY_AUTH_URL=
APPYPAY_API_BASE=
APPYPAY_CLIENT_ID=
APPYPAY_CLIENT_SECRET=
APPYPAY_RESOURCE=
APPYPAY_SCOPE=
APPYPAY_PAYMENT_METHOD=REF_65e88e95-9d71-4bbb-882a-412fb6a7e111


# === Redis Configuration ===
REDIS_HOST= localhost
REDIS_PORT= 6379


##LOGS
API_BASE_URL_ACESS_LOGS =http://localhost:3000/api

##AUTH

HASH_SERVICE_URL=http://127.0.0.1:3003/api
HASH_SERVICE_TIMEOUT=10000

API_BASE_URL_GATSBY=http://localhost:3000/api



